correct_compiler=/home/alan/personal_project/test/testcase3/e779d54d2137c918572f4a70bf5c9341500fab6b/llvm-build/bin/clang
correct_compiler_option=

buggy_compiler=/home/alan/personal_project/test/testcase3/e779d54d2137c918572f4a70bf5c9341500fab6b/llvm-build/bin/clang
buggy_compiler_option=-O3

source_file_directory=/home/alan/personal_project/test/testcase3/source/

#true or false
is_git_directory=true