#true or false to use make
extract_compile_from_make=true

#Script to configure software with correct version of compiler.
configure_script=./configure --enable-cflags=""

#Script to clean make
clean_script=make clean

#build directory
built_directory=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase3/sqlite/build

#Script to run make
make_script=make VERBOSE=1

#Script to run test
check_script=make smoketest

#directory of Correct compiler
correct_compiler=

#(Optional) compiler option of correct compiler
correct_compiler_option=

#directory of buggy compiler
buggy_compiler=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase3/e779d54d2137c918572f4a70bf5c9341500fab6b/llvm-build/bin/clang
#(Optional) compiler option of buggy compiler
buggy_compiler_option=-O2

#directory of source files.
source_file_directory=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase3/sqlite

#true or false
is_git_directory=false
buggy_compiler_git_directory=
buggy_compiler_compile_script=