#true or false to use make
Using_make_to_compile=true

#Script to configure software with correct version of compiler. (Optional)
configure_script=
#Script to run make
make_script=make VERBOSE=1
#Script to run test
check_script=make TESTNUM=D04 check
#Script to clean make
clean_script=make clean

#All directory
built_directory=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase7/zsh-5.9/build
#directory of Correct compiler
correct_compiler=clang
#(Optional) compiler option of correct compiler
correct_compiler_option=
#directory of buggy compiler
buggy_compiler=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase7/llvm-project-331fb804c96008bbceec8e5f305fc27f06d58ba6/build/bin/clang
#(Optional) compiler option of buggy compiler
buggy_compiler_option=
#directory of source files.
source_file_directory=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase7/zsh-5.9/

#true or false
is_git_directory=false
buggy_compiler_git_directory=
buggy_compiler_compile_script=
