correct_compiler=/home/alan/personal_project/test/testcase5/llvm-project/build/bin/clang++
correct_compiler_option=-g

buggy_compiler=/home/alan/personal_project/test/testcase5/llvm-project/build/bin/clang++
buggy_compiler_option=-O3 -g

source_file_directory=/home/alan/personal_project/test/testcase6/source/

#true or false
is_git_directory=true
buggy_compiler_git_directory=/home/alan/personal_project/test/testcase5/llvm-project/
buggy_compiler_compile_script=/home/alan/personal_project/test/testcase6/build_compiler.sh