extract_compile_from_make=false

correct_compiler=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase4/faf0e1fbf90f14a92042a83f6cb1239791674412/llvm-build/bin/clang
correct_compiler_option=-g

buggy_compiler=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase4/faf0e1fbf90f14a92042a83f6cb1239791674412/llvm-build/bin/clang
buggy_compiler_option=-Os -w -g

source_file_directory=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase4/source/

#true or false
is_git_directory=false
buggy_compiler_git_directory=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase4/faf0e1fbf90f14a92042a83f6cb1239791674412
buggy_compiler_compile_script=/home/alan/FYP-Reporting-Compilation-Bugs/test/testcase4/build_compiler.sh